<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detailed book post</title>
</head>
<body>
    <h1>{{ book_id.title }}</h1>
    <p>{{ book_id.description }}</p>
    <p>{{ book_id.type_book }}</p>
    <p>{{ book_id.created_at }}</p>
    <img src="{{ book_id.image.url }}" alt="" width="200" height="200">

    {% if book_id.audio_link %}
    <h3>🎧 Аудиокнига:</h3>
    <iframe width="560" height="315" src="{{ book_id.audio_link }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}

</body>
</html>




